{% extends "base.html" %}

{% block content %}
<div class="register-container" class="register-form">
    <h2>🚴‍♂️ Join Leader's Jersey!</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-group">
            <label for="team_name">Team Name (optional, be creative 😉)</label>
            <input type="text" name="team_name" id="team_name">
        </div>
        <div class="form-group">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }}
            <span class="info-icon" title="Password must be at least 8 characters long, contain letters and numbers.">ℹ️</span>
            {{ form.password1 }}
        </div>
        
        <div class="form-group">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <button type="submit" class="button">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>
{% endblock %}
