{% extends "base.html" %}

{% block content %}
    <h2>Rider Selection</h2>
    <p><strong>Your personal Total GC Time:</strong>  {{ total_gc_time }}</p>
    <h3>Backup Rider</h3>
    <p>If the rider you've selected for a stage, does not finish the stage, you will get the time of your backup rider.<br> <strong>Attention:</strong><br>- You can select only one backup rider for the whole grand tour<br>- You <strong>cannot</strong> select this rider for your stages (and vice versa)</p>

    {% if backup_locked %}
        {% if backup_selection %}
            <p><strong>Your backup rider:</strong> {{ backup_selection.rider.rider_name }} ({{ backup_selection.rider.team }})</p>
        {% else %}
            <p><strong>No backup rider selected</strong></p>
        {% endif %}
    {% else %}
        <form method="post" action="{% url 'save_backup_selection' %}">
            {% csrf_token %}
            <label for="backup_rider">Choose your backup rider:</label>
            <select name="rider_id" id="backup_rider">
                <option value="">-- Select Rider --</option>
                {% for rider in backup_riders %}
                    <option value="{{ rider.id}}"
                        {% if backup_selection and rider.id == backup_selection.rider.id %}selected{% endif %}>
                        {{ rider.start_number }} - {{ rider.rider_name }} ({{ rider.team }})
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Save Backup</button>            
        </form>
    {% endif %}
    <hr>
    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Route</th>
                <th>Distance</th>
                <th>Type</th>
                <th>Deadline</th>
                <th>Your Rider</th>
                <th>Finishing Time</th>
                <th>Bonus</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stage_data %}
                <tr>
                    <td>Stage {{ item.stage.stage_number }}</td>
                    <td>{{ item.stage.departure }} - {{ item.stage.arrival }}</td>
                    <td>{{ item.stage.distance }} km</td>
                    <td>{{ item.stage.stage_type }}</td>
                    <td>
                        {% if not item.locked %}
                            <span id="countdown-stage-{{ item.stage.stage_number }}" data-deadline="{{ item.deadline }}"></span>
                        {% else %}
                            Locked
                        {% endif %}
                    </td>
                    <td>
                        {% if item.locked %}
                            {% if item.selection %}
                                {{ item.selection.rider_name }}
                            {% else  %}
                                -
                            {% endif %}
                        {% else %}
                            <form method="post" action="{% url 'save_selection' item.stage.id %}">
                                {% csrf_token %}
                                <select name="rider_id">
                                    <option value="">-- Select Rider --</option>
                                    {% for rider in item.riders %}
                                        <option value="{{ rider.id }}"
                                            {% if item.selection and rider.id == item.selection.id %}selected{% endif %}>
                                            {{ rider.start_number }} - {{ rider.rider_name }} ({{ rider.team }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Save</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.result %}
                            {{ item.result.finishing_time }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.result %}
                            {{ item.result.bonus }}
                        {% else %}
                            -
                        {% endif %}                            
                    </td>
                    <td>
                        {% if item.used_fallback %}
                            Last finisher
                        {% elif item.used_backup %}
                            Backup
                        {% elif item.seleciton %}
                            Selection 
                        {% else %}
                            -
                        {% endif %}                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
